<IfModule mod_php5.c>
   php_flag register_globals Off
   php_flag allow_call_time_pass_reference Off
   php_flag display_errors On
   php_flag magic_quotes_gpc Off
   php_value error_reporting 2047
   php_value post_max_size 6M
   php_value memory_limit 64M
</IfModule>
