#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build:

clean: 
	dh_testdir
	dh_testroot
	dh_clean --exclude=.orig
	debconf-updatepo
	./autogen.sh --clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	./autogen.sh
	dh_install
	find debian/xams -name "*.svn" | xargs rm -r || true
	find debian/xams -name "*.in" | xargs rm -r || true

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installdebconf
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch:

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
