#!/bin/sh 

set -e

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

# This conf script is capable of backing up
db_capb backup

# Source dbconfig-common stuff.
. /usr/share/dbconfig-common/dpkg/config.mysql
if ! dbc_go xams $@ ; then
    echo 'Automatic configuration using dbconfig-common failed!'
fi

STATE=1 
while true; do
    case "$STATE" in
	1)
            # LANGUAGE
	    db_input high xams/xams_language || true
	    ;;

	2)
            #MAILSCANNER_MODULE
	    db_input high xams/mailscanner_module || true
	    ;;

	3)
	    #CLAMAV_MODULE
	    db_get xams/mailscanner_module || true
	    if [ $RET = false ]; then
		db_input high xams/clamav_module || true
	    fi
	    ;;

	4)
	    #SPAMASSASSIN_MODULE
	    db_get xams/mailscanner_module || true
	    if [ $RET = false ]; then
		db_input high xams/spamassassin_module || true
	    fi
	    ;;

	5)
	    #SENDER_VERIFY_CALLBACK_DNS
	    db_input high xams/sender_verify_callback_dns || true
	    ;;

	6)
	    #SENDER_VERIFY_CALLBACK_DYNAMIC
	    db_input medium xams/sender_verify_callback_dynamic || true
	    ;;

	7)
	    #SENDER_VERIFY_CALLBACK_RBL
	    db_input medium xams/sender_verify_callback_rbl || true
	    ;;

	8)
	    #SENDER_VERIFY_CALLBACK_RBL
	    db_get xams/sender_verify_callback_rbl || true
	    if [ $RET = true ]
	    then
		db_input medium xams/rbl_list || true
	    fi
	    ;;

	9)
	    #QUOTA_THRESHOLD
            while true
            do
                if db_input medium xams/quota_threshold
                then
                    db_go || true
		    db_get xams/quota_threshold || true
		    if [ $RET -ge 1 -a $RET -le 100 ]
		    then
			break
		    fi
		else
		    break
		fi
	    done
	    ;;

	10)
	    #SMTP_ACCEPT_MAX
	    while true
	    do
		if db_input medium xams/smtp_accept_max
		then
		    db_go || true
		    db_get xams/smtp_accept_max || true
		    if [ $RET -ge 100 -a $RET -le 500 ]
		    then
			break
		    fi
		else
		    break
		fi
	    done
	    ;;

	11)
	    #SMTP_ACCEPT_MAX_PER_HOST
	    while true
	    do
		if db_input medium xams/smtp_accept_max_per_host
		then
		    db_go || true
		    db_get xams/smtp_accept_max_per_host || true
		    if [ $RET -ge 10 -a $RET -le 100 ]
		    then
			break
		    fi
		else
		    break
		fi
	    done
	    ;;

	12)
	    #QUEUE_RUN_MAX
	    while true
	    do
		if db_input medium xams/queue_run_max
		then
		    db_go || true
		    db_get xams/queue_run_max || true
		    if [ $RET -ge 10 -a $RET -le 100 ]
		    then
			break
		    fi
		else
		    break
		fi
	    done
	    ;;

	13)
	    #REMOTE_MAX_PARALLEL
	    while true
	    do
		if db_input medium xams/remote_max_parallel
		then
		    db_go || true
		    db_get xams/remote_max_parallel || true
		    if [ $RET -ge 5 -a $RET -le 100 ]
		    then
			break
		    fi
		else
		    break
		fi
	    done
	    ;;

	14)
	    #PRIMARY_HOSTNAME
	    db_get xams/primary_hostname || true
	    if [ -z $RET ]; then
		db_set xams/primary_hostname `hostname -f` || true
	    fi
	    db_input high xams/primary_hostname || true
	    ;;

	15)
	    #SYSTEM ERROR MESSAGES
	    while true
	    do
		if db_input high xams/sys_error_email
	        then
		    db_go || true
		    db_get xams/sys_error_email || true
		    if echo $RET | grep -E "^[a-z0-9._-]+@[a-z0-9._-]{2,}\.[a-z]{2,4}$" > /dev/null
		    then
			break
		    fi
		else
		    break
		fi
	    done
	    ;;

	16)
	    #DAEMON_SMTP_PORTS
	    db_input medium xams/daemon_smtp_ports || true
	    ;;

	17)
	    #CUSTOM_LOCAL_DOMAINS
	    db_input medium xams/custom_local_domains || true
	    ;;

	18)
	    #CUSTOM_RELAY_TO_DOMAINS
	    db_input medium xams/custom_relay_to_domains || true
	    ;;

	19)
	    #CUSTOM_RELAY_FROM_HOST
	    db_input medium xams/custom_relay_from_hosts || true
	    ;;

	20)
	    #TLS_KEYS_CONTRY_NAME
	    RET=""
	    while [ ${#RET} -ne 2 ]
	    do
		if db_input high xams/tls_keys_contry_name
		then
		    db_go || true
		    db_get xams/tls_keys_contry_name || true
		else
		    break
		fi
	    done
	    ;;

	21)
	    #TLS_KEYS_STATE
	    db_input high xams/tls_keys_state || true
	    ;;

	22)
	    #TLS_KEYS_LOCALITY_NAME
	    db_input high xams/tls_keys_locality_name || true
	    ;;

	23)
	    #TLS_KEYS_ORGA_NAME
	    db_input high xams/tls_keys_orga_name || true
	    ;;

	24)
	    #TLS_KEYS_ORGA_UNIT_NAME
	    db_input high xams/tls_keys_orga_unit_name || true
	    ;;

	25)
	    #TLS_KEYS_EMAIL_ADRESS
	    db_input high xams/tls_keys_email_adress || true
	    ;;

	26)
	    #MAXDAEMONS
            db_input medium xams/maxdaemons || true
	    ;;

	27)
	    #MAXPERIP
	    db_input medium xams/maxperip || true
	    ;;

	28)
	    #DNS ADMINISTRATION
	    db_input high xams/dns_admin || true
	    ;;

	*)
	    break
	    ;;
    esac

    if db_go; then
        STATE=$(($STATE + 1))
    else
        STATE=$(($STATE - 1))
    fi
done

if [ $STATE -eq 0 ]
then
    exit 10
fi

exit 0